# # version: '3.8'

# services:
#   api:
#     build:
#       context: ..
#       dockerfile: docker/Dockerfile
#     container_name: snapurl_api
#     ports:
#       - "8000:8000"
#     depends_on:
#       - redis
#       - db0
#       - db1
#       - db2
#       - db3
#     environment:
#       REDIS_HOST: redis
#       POSTGRES_USER: postgres
#       POSTGRES_PASSWORD: postgres
#       POSTGRES_DB: snapurl
#       DB0_HOST: db0
#       DB1_HOST: db1
#       DB2_HOST: db2
#       DB3_HOST: db3
#     restart: always

#   redis:
#     image: redis:7
#     ports:
#       - "6379:6379"
#     healthcheck:
#       test: ["CMD", "redis-cli", "ping"]
#       interval: 5s
#       timeout: 3s
#       retries: 10

#   # snapurl_api:
#   #   depends_on:
#   #     redis:
#   #       condition: service_healthy
#     # image: redis:7
#     # container_name: snapurl_redis
#     # ports:
#     #   - "6379:6379"
#     restart: always

#   db0:
#     image: postgres:15
#     container_name: shard0
#     environment:
#       POSTGRES_PASSWORD: postgres
#       POSTGRES_DB: snapurl
#       PGDATA: /var/lib/postgresql/data/pgdata
#     ports:
#       - "5530:5432"
#     volumes:
#       - db0_data:/var/lib/postgresql
#       - ../migrations/shard0.sql:/docker-entrypoint-initdb.d/init.sql
#     restart: always

#   db1:
#     image: postgres:15
#     container_name: shard1
#     environment:
#       POSTGRES_PASSWORD: postgres
#       POSTGRES_DB: snapurl
#       PGDATA: /var/lib/postgresql/data/pgdata
#     ports:
#       - "5531:5432"
#     volumes:
#       - db1_data:/var/lib/postgresql
#       - ../migrations/shard1.sql:/docker-entrypoint-initdb.d/init.sql
#     restart: always

#   db2:
#     image: postgres:15
#     container_name: shard2
#     environment:
#       POSTGRES_PASSWORD: postgres
#       POSTGRES_DB: snapurl
#       PGDATA: /var/lib/postgresql/data/pgdata
#     ports:
#       - "5532:5432"
#     volumes:
#       - db2_data:/var/lib/postgresql
#       - ../migrations/shard2.sql:/docker-entrypoint-initdb.d/init.sql
#     restart: always

#   db3:
#     image: postgres:15
#     container_name: shard3
#     environment:
#       POSTGRES_PASSWORD: postgres
#       POSTGRES_DB: snapurl
#       PGDATA: /var/lib/postgresql/data/pgdata
#     ports:
#       - "5533:5432"
#     volumes:
#       - db3_data:/var/lib/postgresql
#       - ../migrations/shard3.sql:/docker-entrypoint-initdb.d/init.sql
#     restart: always

# volumes:
#   db0_data:
#   db1_data:
#   db2_data:
#   db3_data:
services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: snapurl_api
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_healthy
      db0:
        condition: service_healthy
      db1:
        condition: service_healthy
      db2:
        condition: service_healthy
      db3:
        condition: service_healthy
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: snapurl
      DB0_HOST: db0
      DB1_HOST: db1
      DB2_HOST: db2
      DB3_HOST: db3
    restart: always

  redis:
    image: redis:7
    container_name: snapurl_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: always

  db0:
    image: postgres:15
    container_name: shard0
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: snapurl
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5530:5432"
    volumes:
      - db0_data:/var/lib/postgresql/data
      - ../migrations/shard0.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always

  db1:
    image: postgres:15
    container_name: shard1
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: snapurl
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5531:5432"
    volumes:
      - db1_data:/var/lib/postgresql/data
      - ../migrations/shard1.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always

  db2:
    image: postgres:15
    container_name: shard2
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: snapurl
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5532:5432"
    volumes:
      - db2_data:/var/lib/postgresql/data
      - ../migrations/shard2.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always

  db3:
    image: postgres:15
    container_name: shard3
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: snapurl
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5533:5432"
    volumes:
      - db3_data:/var/lib/postgresql/data
      - ../migrations/shard3.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: always

volumes:
  db0_data:
  db1_data:
  db2_data:
  db3_data:
